.tile-138 {
  padding-bottom: 138%;
}

.tile-128 {
  padding-bottom: 128%;
}

.tile-100 {
  padding-bottom: 100%;
}

.tile-70 {
  padding-bottom: 70%;
}

.tile-40 {
  padding-bottom: 40%;
}

.embed-video {
  position: relative;
  padding-bottom: 56.25%;
  iframe {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
  }
}

@media (max-width: 767px) {
  .tile-pad {
    width: 80%;
    &.odd {
      margin-right: 20%;
    }
    &.even {
      margin-left: 20%;
    }
  }
}

.two-banners {
  display: flex;
  flex-wrap: wrap;
  &--col {
    width: 100%;
    position: relative;
    @media (min-width: 768px) {
      width: 50%;
    }
  }
  &--bg {
    min-height: calc(90vh - #{$header-mobile-height});
    @media (min-width: 768px) {
      min-height: calc(100vh - #{$header-desktop-height});
    }
  }
  &--content {
    background-color: transparent;
    position: absolute;
    z-index: 1;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
  }
}