.cl-main-imp {
	color: $cl-main !important;
}

.cl-main {
	color: $cl-main;
}

.cl-white {
	color: $cl-white;
}

.cl-muted {
	color: $cl-muted;
}

.bg-white { 
	background-color: $cl-white;
}

.bg-grey { 
	background-color: $cl-grey;
}

.bg-main {
	background-color: $cl-bg;
}

.bg-line {
	background-color: $cl-line;
}